---
layout: default
title: correl.phoenixinquis.net
---

<ul>
    {% for category in site.categories %}
    <li>
	{{ category | first }}
	<a href="/feed.{{ category | first | slugize }}.xml">
	    <img src="/images/feed-icon-14x14.png" alt="RSS Feed" />
	</a>
    </li>
    {% endfor %}
</ul>

{% for post in paginator.posts %}
<article>
  <header>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <hr />
    <span class="date">{{ post.date | date_to_long_string }}</span>
  </header>
  <div style="clear: both;"></div>
  <div class="excerpt">
    {{ post.content }}
  </div>
  <footer>
    <hr />
    <a href="{{ post.url }}">View comments</a>
  </footer>
</article>
{% endfor %}
